<a href="https://colab.research.google.com/github/julianchaux/MachineLearning/blob/master/PreProcesado_JulianChaux.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clonamos el repositorio para obtener los dataSet

In [1]:
!git clone https://github.com/julianchaux/MachineLearning.git

Cloning into 'MachineLearning'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 11 (delta 0), reused 8 (delta 0), pack-reused 0
Unpacking objects: 100% (11/11), done.

# Revisamos la carpeta

In [2]:
!ls '/content/MachineLearning'

'1 - PreProcesamiento de Datos'

# Plantilla de Pre Procesado - Datos Categóricos

# Cómo importar las librerías

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
print(f'La versión de numpy es {np.__version__}')
print(f'La versión de pandas es {pd.__version__}')

La versión de numpy es 1.19.5
La versión de pandas es 1.1.5

# Importar el data set

In [12]:
dataset = pd.read_csv('/content/MachineLearning/1 - PreProcesamiento de Datos/Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

# Tratamiento de los NAs

In [13]:
from sklearn.impute import SimpleImputer

In [14]:
imputer = SimpleImputer(missing_values = np.nan, strategy = "mean", verbose=0)
imputer = imputer.fit(X[:,1:3]) 
X[:, 1:3] = imputer.transform(X[:,1:3])

# Codificar datos categóricos

In [15]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [16]:
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

In [17]:
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],    # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                         # Leave the rest of the columns untouched
)

#onehotencoder = OneHotEncoder(categorical_features=[0])
#X = onehotencoder.fit_transform(X).toarray()

In [18]:
X = np.array(ct.fit_transform(X), dtype=np.float)
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [19]:
print(X.shape)

(10, 5)

In [20]:
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [21]:
result = pd.DataFrame({'Column1': X[:, 0], 'Column2': X[:, 1],'Column3': X[:, 2], 'Age': X[:, 3],'Salary': X[:, 4],'Purchased': y[:]})
display(result)

   Column1  Column2  Column3        Age        Salary  Purchased
0      1.0      0.0      0.0  44.000000  72000.000000          0
1      0.0      0.0      1.0  27.000000  48000.000000          1
2      0.0      1.0      0.0  30.000000  54000.000000          0
3      0.0      0.0      1.0  38.000000  61000.000000          0
4      0.0      1.0      0.0  40.000000  63777.777778          1
5      1.0      0.0      0.0  35.000000  58000.000000          1
6      0.0      0.0      1.0  38.777778  52000.000000          0
7      1.0      0.0      0.0  48.000000  79000.000000          1
8      0.0      1.0      0.0  50.000000  83000.000000          0
9      1.0      0.0      0.0  37.000000  67000.000000          1

# Dividir el data set en conjunto de entrenamiento y conjunto de testing

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Escalado de variables

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
print(X_train.shape)
print(X_test.shape)

(8, 5)
(2, 5)

In [26]:
result_Xtrain = pd.DataFrame({'Column1': X_train[:, 0], 'Column2': X_train[:, 1],'Column3': X_train[:, 2], 'Column4': X_train[:, 3],'Column5': X_train[:, 4]})

In [27]:
display(result_Xtrain)

   Column1   Column2   Column3   Column4   Column5
0     -1.0  2.645751 -0.774597  0.263068  0.123815
1      1.0 -0.377964 -0.774597 -0.253501  0.461756
2     -1.0 -0.377964  1.290994 -1.975398 -1.530933
3     -1.0 -0.377964  1.290994  0.052614 -1.111420
4      1.0 -0.377964 -0.774597  1.640585  1.720297
5     -1.0 -0.377964  1.290994 -0.081312 -0.167514
6      1.0 -0.377964 -0.774597  0.951826  0.986148
7      1.0 -0.377964 -0.774597 -0.597881 -0.482149

In [28]:
result_X_test = pd.DataFrame({'Column1': X_test[:, 0], 'Column2': X_test[:, 1],'Column3': X_test[:, 2], 'Column4': X_test[:, 3],'Column5': X_test[:, 4]})

In [29]:
display(result_X_test)

   Column1   Column2   Column3   Column4   Column5
0     -1.0  2.645751 -0.774597 -1.458829 -0.901663
1     -1.0  2.645751 -0.774597  1.984964  2.139811